@{
    ViewData["Title"] = "Get to Know Joel";
}
<h1>@ViewData["Title"]</h1>

<div>Learn more about <a href="https://www.qwcomedy.com/">Quick Wits Comedy</a>, where I perform regularly.</div>
<div>Check out <a href="https://baconsale.com/">Baconsale.</a></div>
<a href="https://baconsale.com/"><img src="/img/BaconsaleKate.jpg" alt="Baconsale Link on Image of Baconsale Team" height="600"/></a>