@{
    ViewData["Title"] = "Home Page";
}
@model Movie

<div class="text-center">
    <h1 class="display-4">The Joel Hilton Film Collection</h1>
    @if (!string.IsNullOrEmpty(Model?.Title))
    {
        <p>Your most recently submitted movie is: @Model.Title</p>
    }
   <img src="img/JoelHiltonHeadshot.jpg" alt="Joel Headshot" height="600"/>
</div>